# AppVeyor CI build file, https://ci.appveyor.com/project/aidmsu/externalconfigurationprovider

os: Visual Studio 2017

version: 0.1.0-build-0{build}

pull_requests:
  do_not_increment_build_number: true

#---------------------------------#
#       build configuration       #
#---------------------------------#

build_script:
  - powershell .\build.ps1 -Target Pack


artifacts:
  - path: 'build\*.nupkg'
  - path: 'build\*.zip'

  deploy:
  - provider: GitHub
    auth_token:
      secure: mhJRUyZyLfqKcymJOWMYcguK/chCrpQR7atxfUaw7L6TjTmPDb46p77AbTKx+bbx
    artifact: /.*\.zip/
    draft: true
    on:
      appveyor_repo_tag: true
      
  - provider: NuGet
    api_key: 
      secure: A5L6vpFGQ9U6ZgyS49BvfcIHvFHcIpaSu84wdwWNCW8dwTX7HnKA+u0wBfwdB+YD
    on:
      appveyor_repo_tag: true